@model ProjectComite.ViewModels.EditLidViewModel

@{
    ViewData["Title"] = "Edit lid "+Model.lid.naam;
}

<h2>Edit</h2>

<h4>Lid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lid.lidId" />
            <div class="form-group">
                <label asp-for="lid.naam" class="control-label"></label>
                <input asp-for="lid.naam" class="form-control" />
                <span asp-validation-for="lid.naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lid.gemeenteId" class="control-label"></label>
                <select asp-for="lid.gemeenteId" class="form-control" asp-items="Model.gemeentes"></select>
                <span asp-validation-for="lid.gemeenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="lid.lidgeldBetaald" /> @Html.DisplayNameFor(model => model.lid.lidgeldBetaald)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="lid.emailAdres" class="control-label"></label>
                <input asp-for="lid.emailAdres" class="form-control" />
                <span asp-validation-for="lid.emailAdres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lid.telefoonnummer" class="control-label"></label>
                <input asp-for="lid.telefoonnummer" class="form-control" />
                <span asp-validation-for="lid.telefoonnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                @{
                    for (int i = 0; i < Model.acties.Count(); i++)
                    {
                        <div>
                            <input asp-for="@Model.acties[i].CheckboxAnswer" type="checkbox" />
                            <label asp-for="@Model.acties[i].actieId">@Model.acties[i].naam</label>
                            <input asp-for="@Model.acties[i].actieId" type="hidden" />
                            <input asp-for="@Model.acties[i].naam" type="hidden" />
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
