@model IEnumerable<ProjectComite.Models.Lid>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gemeente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lidgeldBetaald)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailAdres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoonnummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gemeente.gemeenteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lidgeldBetaald)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoonnummer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.lidId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.lidId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.lidId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
