@model ProjectComite.ViewModels.CreateActieViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Actie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="actie.naam" class="control-label"></label>
                <input asp-for="actie.naam" class="form-control" />
                <span asp-validation-for="actie.naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actie.informatie" class="control-label"></label>
                <input asp-for="actie.informatie" class="form-control" />
                <span asp-validation-for="actie.informatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actie.gemeenteId" class="control-label"></label>
                <select asp-for="actie.gemeenteId" class="form-control" asp-items="Model.gemeentes"></select>
            </div>
            <div class="form-group">
                @{
                    for (int i = 0; i < Model.leden.Count(); i++)
                    {
                        <div>
                            <input asp-for="@Model.leden[i].CheckboxAnswer" type="checkbox" />
                            <label asp-for="@Model.leden[i].lidId">@Model.leden[i].naam</label>
                            <input asp-for="@Model.leden[i].lidId" type="hidden" />
                            <input asp-for="@Model.leden[i].naam" type="hidden" />
                        </div>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
