@model ProjectComite.Models.Actie

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.informatie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.informatie)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gemeente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gemeente.gemeenteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.actieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
